<th:block xmlns:th="http://www.thymeleaf.org">

    <div class="nav-scroller py-1 mb-3 border-bottom" >
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis" th:classappend="${topic.topicId eq topicId ? 'active' : '' }"  th:each="topic : ${rootTopics}" th:href="@{/index.do(topic_id=${topic.topicId})}"  th:text="${topic.topicName}" ></a>
        </nav>
    </div>

    <div class="pb-4 mb-4 fst-italic border-bottom">
        <ul class="nav nav-underline justify-content-lg-start">
            <li class="nav-item" th:each="subTopic : ${subTopics}">
                <a  class="nav-link" th:classappend="${subTopic.topicId eq topicPid ? 'active' : ''}"  th:href="@{/index.do(topic_id=${topicId},topic_pid=${subTopic.topicId})}" th:text="${subTopic.topicName}" ></a>
            </li>
        </ul>
    </div>
</th:block>